<footer class="footer">
  <div class="container text-center" *ngFor="let footer of footerData">
    <a class="cc-facebook btn btn-link" href="{{footer?.facebook}}" target="_blank">
      <i class="fa fa-facebook fa-2x " aria-hidden="true"></i>
    </a>
    <a class="cc-instagram btn btn-link" href="{{footer?.instagram}}" target="_blank">
      <i class="fa fa-instagram fa-2x " aria-hidden="true"></i>
    </a>
    <a class="cc-skype btn btn-link " href="{{footer?.skype}}" target="_blank">
      <i class="fa fa-skype fa-2x " aria-hidden="true"></i>
    </a>
    <!-- <a class="cc-google-plus btn btn-link" href="#" target="_blank">
      <i class="fa fa-google-plus fa-2x" aria-hidden="true"></i>
    </a> -->
  </div>
  <!-- <div class="h4 title text-center">Aashish Chakravarty</div> -->
  <div class="text-center text-muted">
    <p>&copy; All rights reserved.
      <!-- <br>Design - -->
      <!-- <a class="credit" href="https://templateflip.com" target="_blank">TemplateFlip</a> -->
    </p>
  </div>
</footer>
