<div class="section" id="portfolio">
  <div class="container">
    <div class="row">
      <div class="col-md-6 ml-auto mr-auto">
        <div class="h4 text-center mb-4 title">Portfolio</div>
        <div class="nav-align-center">
          <ul class="nav nav-pills nav-pills-primary" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" data-toggle="tab" href="#web-development" role="tablist">
                <i class="fa fa-laptop" aria-hidden="true"></i>
              </a>
            </li>
            <!-- <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#graphic-design" role="tablist">
                <i class="fa fa-picture-o" aria-hidden="true"></i>
              </a>
            </li> -->
          </ul>
        </div>
      </div>
    </div>
    <div class="tab-content gallery mt-5"  >
      <div class="tab-pane active" id="web-development">
        <div class="ml-auto mr-auto">
          <div class="row">
            <div class="col-md-6" *ngFor="let portfolio of portfolioData">
              <div class="cc-porfolio-image img-raised" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
                <a href="#web-development">
                  <figure class="cc-effect">
                    <img src="{{portfolio?.image}}" alt="Image" />
                    <figcaption>
                      <a href="{{portfolio?.link}}" target="_blank"><div class="h4">{{portfolio?.name}}</div></a>
                      <p>{{portfolio?.about}}</p>
                    </figcaption>
                  </figure>
                </a>
              </div>
            </div>
            <!-- <div class="col-md-6">
              <div class="cc-porfolio-image img-raised" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
                <a href="#web-development">
                  <figure class="cc-effect">
                    <img src="assets/images/resumereact.jpg" alt="Image" />
                    <figcaption>
                      <div class="h4">Resume in React</div>
                      <p>Web Development about my Resume in React</p>
                    </figcaption>
                  </figure>
                </a>
              </div>
            </div> -->
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
